/* import fuentes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

/* reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilo header */

header {
  background-color: #e4b46c;
  height: 100px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
.navbar {
  display: inline-block;
}

.logo {
  width: 100px;
  height: 98px;
}

.menu {
  position: relative;
  left: 50px;
  bottom: 49px;
}
.menu__item {
  display: inline-block;
  padding: 1.5rem;
  color: #f2f2f0;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

body {
  background-color: #f2ead0;
}

h1 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: #815717;
  line-height: 2.5;
}

.textoNegrita {
  font-size: 20px;
  font-weight: bold;
}

.textoMarron {
  color: #815717;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #815717;
  line-height: 1.5;
}

/* estilo imagenes */

.imagencentral__inicio {
  width: 300px;
  height: 300px;
  position: relative;
  left: 450px;
  top: 30px;
}

.imagen__boxesespeciales {
  width: 200px;
  height: 200px;
  position: relative;
  left: 80px;
  top: 100px;
}

.boton__boxesespeciales {
  position: relative;
  left: 130px;
  top: 120px;
}

.imagen__salado {
  width: 200px;
  height: 200px;
  position: relative;
  left: 510px;
  bottom: 130px;
}

.boton__salado {
  position: relative;
  left: 560px;
  bottom: 105px;
}

/* <!-- IMAGEN PASTELERÃA -->  */
.imagen__pasteleria {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 180px;
    bottom: -120px;
    
  }
  
  .boton__pasteleria {
    position: absolute;
    right: 240px;
    bottom: -170px;
  }

  /* <!-- Media Querie  --> */

  @Media  (max-width: 480px){

  
/* estilo formulario de contacto */

div .formulario__contacto {
  position: relative;
  /* left: 430px;
  top: 100px; */
}


.formulario__contacto {
  display: inline-block;
  align-content: center;
  padding: 1rem;
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  color: #815717;
}
}

/* estilos footer */

.footer {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 3px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #4d3b3b;
  background-color: #d9a566;
  height: 33px;
}
